* {
    font-family: 'Montserrat', sans-serif;
    /* color: Pick a text color after backgorund color. etc are chosen; */
}

body {
    background-color: #EDE9D0;
    text-align: center;
}

h1 {
    font-size: 50px;
    letter-spacing: 3px;
    color: #6A0000;
} 

#gameBoard {
    width: 350px;
    height: 420px;
    /* background-color: aqua; */
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    
}

.letterTile {
    border: 1px solid #E64722;
    width: 60px;
    height: 60px;
    margin: 2px;
    color: black;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

